.header-container {
    background-color: #66bb6a; 
    color: #ffffff; 
    padding: 20px;
    text-align: center;
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 32px;
  }
  
  .header-container p {
    margin: 10px 0;
    font-size: 18px;
  }
  